name: SonarCloud Backend Scan

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean verify
        working-directory: bookreview   //change your directory

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.organization=manashamin  //give your git name
            -Dsonar.projectKey=manashamin_bookreviewback //give ur repo
            -Dsonar.java.binaries=bookreviewback/target/classes
        env:
          SONAR_TOKEN: ${{ secrets.TOKEN_TOKEN }} // give ur token
